* {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-size: 1.6rem;
  justify-content: center;
  background-color: #eeeeee;
}

html {
  font-size: 62.5%;
  margin: 4rem;
}

.normalize {
  border: none;
  outline: none;
}

.img-box {
  display: flex;
  justify-content: center;
}

.car {
  width: 70vw;
}

.heading {
  font-size: 3rem;
  display: flex;
  justify-content: center;
  text-align: center;
}